<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljf.sidanfinance.dao.mapper.AttendanceDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ljf.sidanfinance.dao.model.AttendanceDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="att_id" property="attId" jdbcType="INTEGER" />
    <result column="emp_id" property="empId" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="DOUBLE" />
    <result column="hour" property="hour" jdbcType="DOUBLE" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="amount" property="amount" jdbcType="DOUBLE" />
    <result column="pay_amount" property="payAmount" jdbcType="DOUBLE" />
    <result column="deduct_amount" property="deductAmount" jdbcType="DOUBLE" />
    <result column="bonus" property="bonus" jdbcType="DOUBLE" />
    <result column="date_insert" property="dateInsert" jdbcType="TIMESTAMP" />
    <result column="date_update" property="dateUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, att_id, emp_id, day, hour, price, amount, pay_amount, deduct_amount, bonus, 
    date_insert, date_update
  </sql>
  
  <select id="getList" resultType="com.alibaba.fastjson.JSONObject">
  	SELECT ad.id,e.id AS empId,e.name AS empName,ad.day,ad.hour,ad.price,ad.amount,ad.pay_amount AS payAmount,
		   CASE e.type WHEN 0 THEN '管理' 
					   WHEN 1 THEN '木工'
					   WHEN 2 THEN '瓦工'
					   WHEN 3 THEN '油工'
					   WHEN 4 THEN '电工'
					   WHEN 5 THEN '小工'
					   WHEN 6 THEN '抹灰工' END AS empType,
	       ad.deduct_amount AS deductAmount,ad.bonus,e.cert_no AS idNo,e.bank_no AS bankNo
	FROM attendance_detail ad
	LEFT JOIN employee e ON e.id = ad.emp_id
	WHERE ad.att_id = #{params.attId}
	ORDER BY ad.date_insert DESC
  </select>
  
  <delete id="deleteByAttId">
  	DELETE FROM attendance_detail WHERE att_id = #{attId}
  </delete>
  
</mapper>