<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljf.sidanfinance.dao.mapper.EmployeeMapper">
  <resultMap id="BaseResultMap" type="com.ljf.sidanfinance.dao.model.Employee">
    <!--
      WARNING - @mbg.generated
    -->
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gender" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="phone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cert_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="bank_no" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="superior" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="manager" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bank_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="type" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="date_insert" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="date_update" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="delete_mark" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, name, gender, phone, cert_no, bank_no, superior, manager, bank_name, type,
    date_insert, date_update, delete_mark
  </sql>

    <select id="getList" resultType="java.util.HashMap">
        SELECT e.id,e.name,CASE e.gender WHEN 1 THEN '男' WHEN 2 THEN '女' END AS gender,
               e.phone,e.cert_no AS certNo,e.bank_no AS bankNo,e2.name AS superiorName,
               e3.name AS managerName,e.bank_name AS bankName,
               CASE e.type WHEN 0 THEN '管理'
               WHEN 1 THEN '木工'
               WHEN 2 THEN '瓦工'
               WHEN 3 THEN '油工'
               WHEN 4 THEN '电工'
               WHEN 5 THEN '小工'
               WHEN 6 THEN '抹灰工'
               END AS typeName,
               e.type AS type,DATE_FORMAT(e.date_insert,'%Y-%m-%d %H:%i:%s') AS dateInsert,
               IFNULL(SUM(es.day),0) AS day,IFNULL(SUM(es.hour),0) AS hour,
               CAST(IFNULL(SUM(es.amount),0) AS DECIMAL(15,2)) AS income,
               IFNULL(pe.project_num,0) AS projectNum
        FROM employee e
        LEFT JOIN employee e2 ON e2.id = e.superior
        LEFT JOIN employee e3 ON e3.id = e.manager
        LEFT JOIN employee_salary es ON es.employee_id = e.id
        LEFT JOIN
        (
        SELECT employee_id,COUNT(*) AS project_num FROM project_employee GROUP BY employee_id
        )pe ON pe.employee_id = e.id
        WHERE e.delete_mark = 0
        <if test="params.name != null and params.name != ''">
            AND e.name like CONCAT('%',#{params.name},'%')
        </if>
        <if test="params.phone != null and params.phone != ''">
            AND e.phone = #{params.phone}
        </if>
        <if test="params.certNo != null and params.certNo != ''">
            AND e.cert_no = #{params.certNo}
        </if>
        <if test="params.type != null and params.type != ''">
            AND e.type = #{type}
        </if>
        GROUP BY e.id
        ORDER BY e.date_insert DESC
    </select>

    <select id="getProjectList" resultType="java.util.HashMap">
        SELECT e.id AS employeeId,e.name AS employeeName,e.type AS workType,p.id AS projectId,p.name AS projectName,
               DATE_FORMAT(p.start_date,'%Y-%m-%d') AS startDate,DATE_FORMAT(p.end_date,'%Y-%m-%d') AS endDate,
               p.no AS projectNo,CAST(CONVERT(p.total_price,DECIMAL(15,2)) AS CHAR) AS totalPrice,c.name AS companyName
        FROM project_employee pe
        LEFT JOIN employee e ON e.id = pe.employee_id
        LEFT JOIN project p ON p.id = pe.project_id
        LEFT JOIN company c ON c.id = p.company_id
        WHERE pe.delete_mark = 0
        <if test="params.employeeId != null and params.employeeId != ''">
            AND e.id = #{params.employeeId}
        </if>
        ORDER BY pe.date_insert DESC
    </select>

    <select id="getInfo" resultType="com.alibaba.fastjson.JSONObject">
        SELECT e.id,e.name,e.gender,e.phone,e.cert_no AS certNo,e.bank_no AS bankNo,
               e.superior AS superiorId,e2.name AS superiorName,e.manager AS managerId,
               e3.name AS managerName,e.bank_name AS bankName,
               CASE e.type WHEN 0 THEN '管理'
               WHEN 1 THEN '木工'
               WHEN 2 THEN '瓦工'
               WHEN 3 THEN '油工'
               WHEN 4 THEN '电工'
               WHEN 5 THEN '小工'
               WHEN 6 THEN '抹灰工'
               END AS typeName,
               e.type AS type,DATE_FORMAT(e.date_insert,'%Y-%m-%d %H:%i:%s') AS dateInsert
        FROM employee e
        LEFT JOIN employee e2 ON e2.id = e.superior
        LEFT JOIN employee e3 ON e3.id = e.manager
        WHERE e.delete_mark = 0
        AND e.id = ${id}
    </select>

</mapper>